<div class="container">
    <h1>Add Recipe</h1>
    <form #form="ngForm" (ngSubmit)="addRecipeSubmitHandler(form)" class="add-recipe">
        <div class="wrapper">
            <label for="recipeName">Recipe Name</label>
            <input 
            type="text" 
            name="recipeName" 
            id="recipeName"
            ngModel
            #inputName="ngModel"
            required
            minlength="5"
            />
        </div>
        <ng-container *ngIf="inputName.touched">
            <p class="error" *ngIf="inputName?.errors?.['required']">Recipe name is required!</p>
            <p class="error" *ngIf="inputName?.errors?.['minlength']">Recipe name should be minimum 5 letters long!</p>
        </ng-container>

        <div class="wrapper">
            <label for="shortDescription">Short Description</label>
            <textarea 
            name="shortDescription" 
            id="shortDescription" 
            cols="30" 
            rows="5"
            ngModel
            #inputShortDesc="ngModel"
            required
            minlength="30"
            ></textarea>
        </div>
        <ng-container *ngIf="inputShortDesc.touched">
            <p class="error" *ngIf="inputShortDesc.errors?.['required']">Description is required!</p>
            <p class="error" *ngIf="inputShortDesc.errors?.['minlength']">Description should be minimum 30 characters long!</p>
        </ng-container>
        <div class="wrapper">
            <label for="image">Image</label>
            <input 
            type="URL" 
            name="image"
            id="image" 
            ngModel
            #inputImage="ngModel"
            required
            />
        </div>
        <ng-container *ngIf="inputImage.touched">
            <p class="error" *ngIf="inputImage.errors?.['required']">Image is required!</p>
        </ng-container>

        <div class="wrapper">
            <label for="ingredients">Ingredients</label>
            <textarea 
            name="ingredients" 
            id="ingredients" 
            cols="30" 
            rows="5"
            ngModel
            #inputIngredients="ngModel"
            required
            ></textarea>   
        </div>
        <ng-container *ngIf="inputIngredients.touched">
            <p class="error" *ngIf="inputIngredients.errors?.['required']">Ingredients are required!</p>
        </ng-container>

        <div class="wrapper">
            <label for="Instructions">Description</label>
            <textarea 
            name="instructions" 
            id="instructions" 
            cols="30" 
            rows="5"
            ngModel
            #inputInstructions="ngModel"
            required
            ></textarea>
        </div>
        <ng-container *ngIf="inputInstructions.touched">
            <p class="error" *ngIf="inputInstructions.errors?.['required']">Instructions are required!</p>
        </ng-container>

        <div class="wrapper features">
            <label for="prepTime">Prep Time</label>
            <input 
            type="text" 
            name="prepTime"
            id="prepTime"
            ngModel
            #inputPrepTime="ngModel"
            required
            />
            <ng-container *ngIf="inputPrepTime.touched">
                <p class="error" *ngIf="inputPrepTime.errors?.['required']">Prep time is required!</p>
            </ng-container>

            <label for="cookTime">Cooking Time</label>
            <input 
            type="text" 
            name="cookTime"
            id="cookTime"
            ngModel
            #inputCookTime="ngModel" 
            required
            />
            <ng-container *ngIf="inputCookTime.touched">
                <p class="error" *ngIf="inputCookTime.errors?.['required']">Cook time is required!</p>
            </ng-container>
            <label for="servings">Servings</label>
            <input 
            type="text" 
            name="servings" 
            id="servings"
            ngModel
            #inputServings="ngModel"
            required
            />
            <ng-container *ngIf="inputServings.touched">
                <p class="error" *ngIf="inputServings.errors?.['required']">Servings are required!</p>
            </ng-container>
        </div>

        <button (click)="clearForm(form)" class="btn">Cancel</button>
        <button class="btn" [disabled]="form.invalid">Add Recipe</button>

    </form>
    </div>