<div class="container">
    <h1>Add Recipe</h1>
    <form class="add-recipe">
        <div class="wrapper">
            <label for="title">Recipe Name</label>
            <input type="text" name="title" />
        </div>
        <div class="wrapper">
            <label for="description">Short Description</label>
            <textarea name="decription" id="description" cols="30" rows="5"></textarea>
        </div>
        <div class="wrapper">
            <label for="description">Ingredients</label>
            <textarea name="ingredients" id="ingredients" cols="30" rows="5"></textarea>
        </div>

        <div class="wrapper">
            <label for="description">Description</label>
            <textarea name="decription" id="description" cols="30" rows="5"></textarea>
        </div>

        <div class="wrapper features">
            <label for="prep-time">Prep Time</label>
            <input type="text" name="prep-time" />

            <label for="cooking-time">Cooking Time</label>
            <input type="text" name="cooking-time" />

            <label for="servings">Servings</label>
            <input type="text" name="servings" />
        </div>

        <button class="btn">Add Recipe</button>

    </form>
</div>