<div *ngIf="recipe" class="container">
    <h3>{{recipe.recipeName}}</h3>
    <div>
        <p>Ingredients:</p>
        <p>{{recipe.ingredients}}</p>
    </div>
    <div>
        <p>Insctructions:</p>
        <p>{{recipe.instructions}}</p>
    </div>
    <div>
        <p>Prep time: {{recipe.prepTime}}</p>
        <p>Cooking time: {{recipe.cookingTime}}</p>
        <p>Servings: {{recipe.servings}}</p>
    </div>
    <div>
        <p>Created on: <time>{{recipe._createdOn}}</time></p>
    </div>
    <img src="{{recipe.imageUrl}}" alt="recipe-img" />
</div>