<div class="container">

    <h1>Register</h1>
    <form #form="ngForm" class="register-form" (ngSubmit)="register(form)">
        <div class="email">
            <label for="email">Email</label>
            <input 
            type="email" 
            name="email" 
            placeholder="john.doe@gmail.com" 
            id="email" 
            ngModel
            #inputEmail="ngModel" 
            required
            email="true"
            />
            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
                <p class="error" *ngIf="inputEmail.errors?.['email']">Email is not valid!</p>
            </ng-container>
        </div>
        <div class="username">
            <label for="username">Username</label>
            <input 
            type="text" 
            name="username" 
            placeholder="John" 
            id="username" 
            ngModel 
            #inputUsername="ngModel" 
            required
            minlength="4"
            />
        </div>
        <ng-container *ngIf="inputUsername.touched">
            <p class="error" *ngIf="inputUsername.errors?.['required']">Username is required!</p>
            <p class="error" *ngIf="inputUsername.errors?.['minlength']">Username must be minimum 4 letters!</p>
        </ng-container>
        <div class="pass">
            <label for="password">Password</label>
            <input 
            type="password" 
            name="password" 
            placeholder="*****" 
            id="password" 
            ngModel
            #inputPassword="ngModel"
            required 
            minlength="5"
            />
        </div>
        <ng-container *ngIf="inputPassword.touched">
            <p class="error" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
            <p class="error" *ngIf="inputPassword.errors?.['minlength']">Pasword must be minimum 5 characres!</p>
        </ng-container>
        <div class="pass">
            <label for="repass">Confirm Password</label>
            <input 
            type="password" 
            name="repass" 
            placeholder="*****"
            id="repass"
            ngModel
            #inputRepass="ngModel"
            passwordValidator="password"
            required
             />
        </div>
        <ng-container *ngIf="inputRepass.touched">
            <p class="error" *ngIf="inputRepass.errors?.['required']">Confirm passwoed is required</p>
            <p class="error" *ngIf="inputRepass.errors?.['']">
                Passwords don't match!
            </p>
        </ng-container> 

        <button [disabled]="form.invalid" class="btn">Register</button>
    </form>
</div>