<div class="container">

    <h1>Register</h1>
    <form class="register-form">
        <div class="email">
            <label for="email">Email</label>
            <input  type="text" name="email" placeholder="john.doe@gmail.com" />
        </div>
        <div class="pass">
            <label for="password">Password</label>
            <input  type="password" name="password" placeholder="*****" />
        </div>
        <div class="pass">
            <label for="rePass">Repeat Password</label>
            <input  type="password" name="repass" placeholder="*****" />
        </div>

        <button class="btn">Register</button>
    </form>
</div>
