<div class="container">

    <h1>Login</h1>
    <form #form="ngForm" (ngSubmit)="login(form)" class="login-form">
        <div class="email">
            <label for="email">Email</label>
            <input  
            type="email" 
            name="email"
            id="email" 
            placeholder="john.doe@gmail.com" 
            ngModel
            #inputEmail="ngModel"
            required
            email="true"
            />

            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
                <p class="error" *ngIf="inputEmail.errors?.['email']">Email is not valid!</p>
            </ng-container>
        </div>
        <div class="pass">
            <label for="password">Password</label>
            <input  
            type="password" 
            name="password" 
            id="password"
            placeholder="*****" 
            ngModel
            #inputPassword="ngModel"
            required
            minlength="5"
            />
        </div>
        <ng-container *ngIf="inputPassword.touched">
            <p *ngIf="inputPassword.errors?.['required']"class="error">Pasword is requred!</p>
            <p *ngIf="inputPassword.errors?.['minlength']"class="error">Pasword must be minimum 5 characres!</p>
        </ng-container>

        <button class="btn" [disabled]="form.invalid">Login</button>
    </form>
</div>