<div class="container">
    <h1 class="page-title">All Recipes</h1>
    <div class="card">
        <div class="wrapper" *ngFor="let recipe of recipes">
            <div class="recipe-name">
                <a [routerLink]="recipe._id">
                    <h3>{{recipe?.recipeName}}</h3>
                </a>
            </div>
            <div class="desc">
                <p>{{recipe?.shortDescription}}</p>
            </div>
            <div class="img-wrapper">
                <img class="img" src="{{recipe?.imageUrl}}" alt="recipe-img" />
            </div>
        </div>
    </div>
</div>