/* @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    width: 90%;
    height: 80%;
    background-color: #d3c4d2;
    border-radius: 6px;
    margin: 60px auto;
    font-size: 18px;
    padding-bottom: 40px;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
}

.card {
    display: flex;
    flex-direction: row;
}

.page-title {
    text-align: center;
    padding-top: 36px;
    color: rgb(156, 13, 108);
}

.wrapper {
    display: flex;
    width: 40%;
    height: 40%;
    flex-direction: column;
    border: 1px solid rgb(156, 13, 108);
    margin: 24px 40px;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
}

.recipe-name a {
    text-decoration: none;
}

.recipe-name h3 {
    color: rgb(156, 13, 108);
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 0;
}

.desc p{
    width: auto;
    height: 80px;
    overflow: hidden;
}

.img {
border-radius: 6px;
    width: 200px;
    height: 200px;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #d3c4d2; */
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
  /* font-family: 'Courgette', cursive;
  font-family: 'Dancing Script', cursive; */
}

img {
  max-width: 90%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card__body a{
    text-decoration: none;
    color: rgb(156, 13, 108);
}


/* .tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
} */

/* .tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
} */

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}